pretrained_models/4stems/.probe
pretrained_models/4stems/._checkpoint
pretrained_models/4stems/checkpoint
pretrained_models/4stems/model.data-00000-of-00001
pretrained_models/4stems/model.index
__pycache__/transcribeHallu.cpython-310.pyc
output/*

whisper-medium-ct2/model.bin
whisper-large-ct2/model.bin
pretrained_models/4stems/model.meta
.venv
WhisperHallu/
separated/*
pretrained_models
*.mp3
*.mp4
*.wav
gladia-sample.py
*.pyc
__pycache__